@model pc_internship.Models.EmployeeModel
@using pc_internship.GrossSalary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeLastName)
        </dd>
        <dt>
            Darbuotojo atlyginimas prieš mokesčius
        </dt>
        <dd>
            @GrossSalary.GetGrossSalary(Model.EmployeeNetSalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeNetSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeNetSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>

        <dd>
            <img width="100" min-height="100%" src="@Url.Content(Model.ImgPath)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
